<div class="container">

  <h1><%= %></h1>
  <p><a href="/">home</a></p>
  <br><br>
  <form action="/tweet" method="post">
    <input id="tweet" type="text" name="tweet" placeholder="tweet here">
    <input type="submit" value="Tweet!" class="tweethere">
  </form>
  <img src="/images/loader.gif" id="loading" style="display:none" />
  <div id="result"></div>
</div>



